:root {
	font-size: 62.5%;
	min-height: 100%;
}

html {
	min-height: 100%;
	overflow: auto;
}

body {
	margin: 0;
	padding: 0;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #282c34;
	min-height: 100vh;
	font-family: 'Roboto', sans-serif;

	overflow: auto;
}
